<div class="container mt-3">
  <app-cantidad-de-empleados
    [todos]="conteoEmpleados()"
    [masculino]="conteoSexoMasculino()"
    [femenino]="conteoSexoFemenino()"
    (countRadioButtonChange) = "empleadoConteoRadioButtonChange($event)"
  ></app-cantidad-de-empleados>
  <div class="card mt-3">
    <div class="card-body">
        <table class="table">
        <thead>
          <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Puesto</th>
            <th>Salario</th>
          </tr>
          <ng-container  *ngFor="let empleado of listEmpleados">
            <tr class="datos" *ngIf="radioButtonSeleccionado == 'todos'|| radioButtonSeleccionado == empleado.sexo">
              <th>{{ empleado.legajo }}</th>
              <th>{{ empleado.nombre }}</th>
              <th>{{ empleado.apellido }}</th>
              <th>{{ empleado.sexo }}</th>
              <th>{{ empleado.puesto }}</th>
              <th>{{ empleado.salario | currency }}</th>
            </tr>
          </ng-container>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
